@using MvcBootstrap.Web.Mvc.Views.Extensions
@model MvcBootstrap.ViewModels.Accounts.LocalPasswordModel

<h3>Change password</h3>

@using (this.Bootstrap().BeginForm("Manage", "Accounts")) {
    @Html.AntiForgeryToken()

    <text>
        @this.Bootstrap().ValidationSummary()

        @this.Bootstrap().PasswordGroupFor(m => m.OldPassword)
        @this.Bootstrap().PasswordGroupFor(m => m.NewPassword)
        @this.Bootstrap().PasswordGroupFor(m => m.ConfirmPassword)

        @this.Bootstrap().Submit("Change Password")
    </text>
}
