@using MvcBootstrap.Web.Mvc.Views
@using MvcBootstrap.Web.Mvc.Views.Extensions
@model MvcBootstrap.ViewModels.Accounts.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (this.Bootstrap().BeginForm("Manage", "Accounts")) {
    @Html.AntiForgeryToken()

    <text>
        @this.Bootstrap().ValidationSummary()

        @this.Bootstrap().PasswordGroupFor(m => m.NewPassword)
        @this.Bootstrap().PasswordGroupFor(m => m.ConfirmPassword)

        @this.Bootstrap().SubmitGroup("Set Password")
    </text>
}
