@using MvcBootstrap.Web.Mvc.Views.Extensions
@model MvcBootstrap.ViewModels.Accounts.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
}

<h1>@ViewBag.Title.</h1>

<h2>Associate your @ViewBag.ProviderDisplayName account.</h2>

@using (this.Bootstrap().BeginForm("ExternalLoginConfirmation", "Accounts", new { ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()

    <text>
        @this.Bootstrap().ValidationSummary()

        <p>
            You've successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
            Please enter a user name for this site below and click the Confirm button to finish
            logging in.
        </p>
    
        @this.Bootstrap().TextBoxGroupFor(m => m.Username)

        @Html.HiddenFor(m => m.ExternalLoginData)

        @this.Bootstrap().Submit("Register")
    </text>
}