@using MvcBootstrap.Web.Mvc.Views
@using MvcBootstrap.Web.Mvc.Views.Extensions
@model MvcBootstrap.ViewModels.Accounts.LoginModel

@{
    ViewBag.PageTitle = "Log In";
}

<h1>@ViewBag.PageTitle</h1>

<section id="loginForm">
    @using (this.Bootstrap().BeginForm(new { ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
    
        <text>
            @this.Bootstrap().ValidationSummary()

            @this.Bootstrap().TextBoxGroupFor(m => m.Username)
            @this.Bootstrap().PasswordGroupFor(m => m.Password)
            @this.Bootstrap().CheckboxGroupFor(m => m.RememberMe)
    
            @this.Bootstrap().SubmitGroup("Log In")
        </text>

        <p>
            Or @Html.ActionLink("Register", "Register") if you don't have an account.
        </p>
    }
</section>

<section class="social" id="socialLoginForm">
    
    <h2>Use an external service to log in.</h2>

    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

</section>