@using MvcBootstrap.Web.Mvc.Views
@using MvcBootstrap.Web.Mvc.Views.Extensions
@model MvcBootstrap.ViewModels.Accounts.LoginModel

@{
    ViewBag.PageTitle = "Log In";
}

<div class="row">
    <div class="span5">
        
        <h2>Login using your account</h2>

        @using (this.Bootstrap().BeginForm(new { ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
    
            <text>
                @this.Bootstrap().ValidationSummary()

                @this.Bootstrap().TextBoxGroupFor(m => m.Username)
                @this.Bootstrap().PasswordGroupFor(m => m.Password)
                @this.Bootstrap().CheckboxGroupFor(m => m.RememberMe)
    
                @this.Bootstrap().SubmitGroup("Log In")
            </text>

            <p>
                Or @Html.ActionLink("Register", "Register") if you don't have an account.
            </p>
        }
    </div>
    <div class="span4">
        
        <h2>Use an external service to log in.</h2>

        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>