@using MvcBootstrap.Web.Mvc.Views.Extensions
@model MvcBootstrap.ViewModels.Accounts.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h1>@ViewBag.Title</h1>

@using (this.Bootstrap().BeginForm()) {
    @Html.AntiForgeryToken()
    <text>
        @this.Bootstrap().ValidationSummary("There were errors with your registration:")
        @this.Bootstrap().TextBoxGroupFor(m => m.Username)
        @this.Bootstrap().TextBoxGroupFor(m => m.Password)
        @this.Bootstrap().TextBoxGroupFor(m => m.ConfirmPassword)
        @this.Bootstrap().SubmitGroup("Register")
    </text>
}
