@using MvcBootstrap.Web.Mvc.Views
@using MvcBootstrap.Web.Mvc.Views.Extensions
@model MvcBootstrap.ExampleApp.Web.ViewModels.RoleViewModel
@{
    ViewBag.PageTitle = this.PageTitle();
}

@if (this.ViewData.ModelState.IsValid)
{
    <p>
        Are you sure you want to delete @this.Bootstrap().ViewModelLabelForModel()?
    </p>
}

@this.Bootstrap().ValidationSummary()

@using (this.Bootstrap().BeginUpdateForm())
{
    <text>
        @Html.AntiForgeryToken()
        @this.Bootstrap().Submit("Delete", Icon.Ok, ButtonStyle.Danger)
        @this.Bootstrap().CancelLink(Model.Id)
    </text>
}