@using MvcBootstrap.Reflection
@using MvcBootstrap.ViewModels
@using MvcBootstrap.Web.Mvc.Views.Extensions
@using TEMTDomain.StaticLib
@model MvcBootstrap.ViewModels.IChoiceCollection

@{
    string name = Of<IEntityViewModel>.CodeNameFor(vm => vm.Id);
    string containerName = StringHelper.ConvertDotNotationToSpaceDelimited(this.Html.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix);
    string fullName = this.Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldName(name);
}

@if (Model == null)
{
    @ViewData.ModelMetadata.NullDisplayText
}
else 
{
    @*Html.ListBox("Id", new MultiSelectList(Model.Choices, "Id", "Title", Model), new { @class = "related-entity" })*@
    
    <text>
        <select name="@fullName" class="related-entity" multiple="multiple" data-placeholder="Select @containerName">
            <option>
            </option>
            @foreach (var option in Model.Choices)
            {
                <option 
                    value="@option.Id" 
                    @if (Model.Any(vm => vm.Id == option.Id))
                    {
                        <text>
                            selected="selected"
                        </text>
                    }>
                    @this.Bootstrap().ViewModelLabelFor(containerName, m => option)
                </option>
            }
        </select>
    </text>
}