@using MvcBootstrap.Web.Mvc.Views.Extensions
@model MvcBootstrap.ExampleApp.Web.ViewModels.EmployeeViewModel
@{
    ViewBag.Title = this.EntityActionTitle();
}

@this.Bootstrap().ReturnLink()

<h1>@ViewBag.Title</h1>

@Html.ValidationSummary(false, "Error(s) creating Employee:", new { @class = "text-error" } )

@using (this.Bootstrap().BeginCreateForm())
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel("EntityViewModel")
    
    <div class="control-group">
        <div class="controls">
            @this.Bootstrap().SaveSubmit()
            @this.Bootstrap().CancelLink()
        </div>
    </div>
}
