@using MvcBootstrap.Web.Mvc.Views.Extensions
@model MvcBootstrap.ExampleApp.Web.ViewModels.EmployeeViewModel
@{
    ViewBag.Title = this.EntityActionTitle();
    var validationSummaryHtml = Html.ValidationSummary(false, "Error(s) saving Employee:", new { @class = "text-error" }).ToHtmlString();
}

@this.Bootstrap().ReturnLink()

<h1>@ViewBag.Title</h1>

@* Allow us to output HTML in our messages; MUST be sure to escape any parts of the message that come from user input *@
@Html.Raw(HttpUtility.HtmlDecode(validationSummaryHtml))

@using (this.Bootstrap().BeginUpdateForm())
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel("EntityViewModel")
    
    <div class="control-group">
        <div class="controls">
            @this.Bootstrap().SaveSubmit()
            @this.Bootstrap().CancelLink(Model.Id)
        </div>
    </div>
}

@section scripts
{
    <script>
        jQuery(function($) {
            $('select.related-entity').chosen({
                allow_single_deselect: true
            });
        })
    </script>
}
