@using MvcBootstrap.Web.Mvc.Views.Extensions
@model MvcBootstrap.ExampleApp.Web.ViewModels.EmployeeViewModel
@{
    ViewBag.Title = this.EntityActionTitle();
}

@this.Bootstrap().ReturnLink()

<h1>@ViewBag.Title</h1>

@this.Bootstrap().ValidationSummary("Error(s) saving Employee:")

@using (this.Bootstrap().BeginUpdateForm())
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel("EntityViewModel")
    
    <div class="control-group">
        <div class="controls">
            @this.Bootstrap().SaveSubmit()
            @this.Bootstrap().CancelLink(Model.Id)
        </div>
    </div>
}

@section scripts
{
    <script>
        jQuery(function($) {
            $('select.related-entity').chosen({
                allow_single_deselect: true
            });
        })
    </script>
}
