@using MvcBootstrap.Views.Extensions
@model MvcBootstrap.ExampleApp.Web.ViewModels.EmployeeViewModel
@{
    ViewBag.Title = this.EntityActionTitle();
}

@this.Bootstrap().ReturnLink()

<h1>@ViewBag.Title</h1>

@using (this.Bootstrap().BeginUpdateForm())
{
    @Html.EditorForModel("EntityViewModel")
    
    <div class="control-group">
        <div class="controls">
            @this.Bootstrap().SaveSubmit()
            @this.Bootstrap().CancelLink(Model.Id)
        </div>
    </div>
}
